<!DOCTYPE html>
<html>
  <head>
    <title>Mysite</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <header class="container mt-4 mb-4">
    <a href="https://render.com">
      <%= image_tag 'render.jpg', class: 'mw-100' %>
    </a>
  </header>
    <%= yield %>
  </body>
</html>
